.flex-container-menu{
    display: flex;
    color: white;
    max-width: 100%;
    background-color: #C4170C;
    flex-direction: row;
    height: 80px;
}

.list, a{
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #989898;
    padding: 5px;

    
}

#toggler,
.flex-container-menu .list{
    display: none;
}

#toggler:checked ~ .list{
    display: block;
}


.list{
  margin-top: -50px;
  text-indent: -999999;
  background-color: #FAFAFA;
  font-size: 16px;
 
 
}





